<div id="breadcrumb-bar" class="breadcrumb-bar" *ngIf="isEnabled">
  <ul class="breadcrumb">
    <li *ngFor="let part of routeParts"
      ix-auto ix-auto-type="option" ix-auto-identifier="{{part.breadcrumb}}">
      <span *ngIf="!part.disabled;else noclick">
        <a (click)="gotoRoute(part.url)" class="clickable">{{part.breadcrumb | translate}}</a>
      </span>
      <ng-template #noclick>
        <a>{{part.breadcrumb | translate}}</a>
      </ng-template>
    </li>
  </ul>
  <span fxFlex class="copyright-txt">STOS {{copyrightYear}}<a href="https://www.gansanit.com" target="_blank" title="iXsystems, Inc."></a></span>
</div>
