.widget{
  width:600px;
  height:400px;
}

.widget mat-card-content{
  width: 100%;
}

.widget mat-toolbar-row{
  position:absolute;
  height:48px;
  width: 100%;
  z-index:2;
  background:unset;
  padding: 0 8px;
  left:0;
  text-align:left;
  border:none;

  font-size: 1.5rem;
  line-height: 180%;
}

.mat-icon.multipath-icon{
  color: var(--fg2);
  padding: 0 1px 2px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  position: relative;
  top: 3px;
}

.xs.widget mat-toolbar-row.view-overview .controls,
.widget mat-toolbar-row.view-overview .primary-nav{
  color:#efefef;
}

.primary-nav .card-title-text{
  font-size:1.5rem;
  font-weight:500;
  display:inline-block;
  vertical-align:middle;
  position: relative;
  top: 2px;
}

.view-overview .primary-nav .card-title-text{
}

.carousel{
  position:absolute;
  width:400%;
  height:100%;
  /*background:var(--alt-bg2);*/
}

/*.carousel.lagg{
  width:400%;
}*/

.slide{
  /*position:absolute;
  top:48px;*/
  display:inline;
  width:100%;
  height:calc(100% - 48px);
  /*border-left:solid 1px var(--bg1);*/
}

.vdev.hidden,
.slide .hidden{
  display:none;
}

.vdev div{
  display: inline;
}

.slide .left,
.slide .right{
  height:100%;
  display:inline-block;
  padding:32px 0;
}

.slide.overview {
  height:100%;
}

.slide.overview .right > div{
  width:100%;
}

.slide.overview .right{
  padding:0;
}

.slide.overview .left{
  /*background-color:var(--alt-bg1);*/
  background-size:cover;
  background-image:url('assets/images/backgrounds/hard_drive_1.jpg');
  color:#efefef;
  /*background-position-y:center;
  background-position-x:50%;*/
}

.slide .right{
  text-align:left;
  border-left:solid 1px rgba(0,0,0,0.1);
}

.slide .right li{
  font-size: 115%;
  padding: 6px;
  margin-left: 8px;
}

.slide.overview .left .left-content{
  height: calc(400px * 0.5);
  width:100%;
}

.pool-name{
  font-size:250%;
  /*border-bottom:solid 1px var(--grey);*/
}

.table{
  display:table;
  text-align:left;
  margin: 16px 12px;
  width: calc(100% - 32px);
}


.tr{ display:table-row; }
.td{
  display:table-cell;
  padding:2px 0;
}

.td span{opacity: 0.95;}
.td span.icon{ opacity: 1;}

.td{
  width:40%;
}

.td.label{
  width:48%;
}

.td .mat-icon{
  width: 12px;
  height: auto;
}

.pool-status .icon-wrapper{
  display: inline-block;
  font-size: 175%;
  top: 3px;
  position: relative;
}

.pool-name .icon-wrapper{
  display: inline;
  font-size: 75%;
}

.pool-space .value{
  font-weight:500;
}

span.error {
  color: var(--red);
}

span.warn{
  color: var(--yellow);
}

span.safe{
  color: var(--green);
}

.pool-status span .mat-icon,
.used-space span .mat-icon,
.disk-errors span .mat-icon{
  width: 14px;
  height: auto;
  font-size: 17px;
  position: relative;
  top: 2px;
  margin-left: 4px;
}

/*.pool-status span.safe .mat-icon,*/
.used-space span.safe .mat-icon,
.disk-errors span.safe .mat-icon{
  top: 4px;
}

.pool-status span.safe.lock-icon-wrapper{
  top:1px;
}

.pool-status.tr .td{
  white-space: nowrap;
}

.controls{
  position:absolute;
  top:0;
  right:16px;
  color: var(--fg2);
  /*font-weight:500;
  text-transform:capitalize;*/
}

.controls button{
  display:inline-block;
}

.carousel-nav{
  position:absolute;
  bottom:0;
  width:100%;
  height:48px;
  padding:6px;
  border-top:solid 1px var(--bg1);
  background:var(--bg2);
  text-align:left;
}

.carousel-nav .btn{
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
  margin:0 4px;
  background-color:var(--fg1);
  opacity:0.5;
  cursor:pointer;
}

.carousel-nav .back-arrow.mat-icon{
  margin-top: -3px;
}

.carousel-nav .btn.active{
  opacity:1;
}

.nic-traffic{
  /*font-size: 150%;*/
}

.stat{
  /*font-size: 250%;*/
}

.slide{
  overflow:auto;
  position:relative;
  top:48px;
}

.slide.overview{
  height:100%;
  top:0;
}

.slide .locked.offline{
  text-align:center;
}

.slide .locked.offline .mat-icon{
  font-size: 444%;
  width:auto;
  height:auto;
}

.slide div.clickable,
.slide .mat-list-item.clickable{
  cursor:pointer;
}

.slide .mat-icon.next-slide{
  position:absolute;
  right:0;
}

.mat-list-base .mat-list-item{
  border-bottom:solid 1px rgba(0,0,0,0.1);
}

.mat-list-base {
}

.overview .right .list-subheader{
  margin-top:48px;
}

.list-subheader{
  font-weight:700;
  padding:48px 8px 0 16px;
  text-align:left;
  font-size: 90%;
  color: var(--fg1);
}

span.capitalize{
  text-transform:capitalize;
}

.list-subheader:first-child{
  padding:8px 8px 0 16px;
}

.detail-key{
  text-transform:capitalize;
}

.healthy {
  color:var(--green);
}

.warning {
  color:var(--yellow);
}

.error {
  color:var(--red);
}

.error, .warning , .healthy {
  font-size: 120%;
}

.disk-errors.mat-icon.healthy {
  /*font-size: 18px;
  margin-bottom: 2px;*/
}


/* NARROW SCREENS */
.xs.widget{
  width:100%;
  height: calc(100vh - 96px);
  position: absolute;
  min-height:700px;
}

.xs.widget .slide.overview .left{
  background-size: 240%;
  background-position: 100% 100% 00;
}

.xs.widget .overview .right .list-subheader{
  margin-top:0;
}
.value-units {
  margin-left: 5px;
}

.xs .left-content .table{
  min-width: 180px;
  max-width: 50%;
  margin: 12px auto;
}

.xs .left-content .pool-name{
  margin-top: 24px;
}
