<mat-sidenav-container class="app-side-nav-container" fxLayout="row" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg" ngClass.xl="xl">
  <!-- Main side navigation -->
  <mat-sidenav fxFlex="sidenavWidth" #sidenav [opened]="isSidenavOpen" [mode]="sidenavMode" class="sidebar-panel not-alerts" >
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <div *ngFor="let theme of freenasThemes">
        <div *ngIf="theme.name == currentTheme" ix-auto ix-auto-type="button" ix-auto-identifier="logo">

          <!-- FreeNAS Retro -->
          <div class="branding retro topbar" *ngIf="retroLogo">
            <a routerLink="/dashboard" class="logo"><mat-icon svgIcon="freenas_logomark" alt="FreeNAS logo" class="app-logo"></mat-icon></a>
            <a routerLink="/dashboard" class="logo-text"><mat-icon svgIcon="freenas_logotype" alt="FreeNAS" class="app-logo-text"></mat-icon></a>
          </div>

          <!-- TrueNAS Core -->
          <div class="branding topbar" *ngIf="!retroLogo && product_type == 'CORE' ">
						<a routerLink="/dashboard" class="logo"><button class="mat-icon-button">STOS</button></a>
            <a routerLink="/dashboard" class="logo-text"></a>
          </div>

          <!-- TrueNAS Enterprise -->
          <div class="branding topbar" *ngIf="!retroLogo && product_type == 'ENTERPRISE' ">
            <a routerLink="/dashboard" class="logo"><mat-icon [svgIcon]="themeService.isDefaultTheme ? 'truenas_enterprise_logomark_color': 'truenas_enterprise_logomark'" alt="TrueNAS Core logo" class="app-logo"></mat-icon></a>
            <a routerLink="/dashboard" class="logo-text"><mat-icon [svgIcon]="themeService.isDefaultTheme ? 'truenas_enterprise_logotype_color' : 'truenas_enterprise_logotype'" alt="TrueNAS Core" class="app-logo-text"></mat-icon></a>
          </div>

          <!-- TrueNAS Scale -->
          <div class="branding topbar {{'truenas-' + product_type.toLowerCase()}}" *ngIf="!retroLogo && product_type == 'SCALE' ">
            <a routerLink="/dashboard" class="logo"><mat-icon [svgIcon]="themeService.isDefaultTheme ? 'truenas_scale_logomark_color' : 'truenas_scale_logomark'" alt="TrueNAS Core logo" class="app-logo"></mat-icon></a>
            <a routerLink="/dashboard" class="logo-text"><mat-icon [svgIcon]="themeService.isDefaultTheme ? 'truenas_scale_logotype_color' : 'truenas_scale_logotype'" alt="TrueNAS Core" class="app-logo-text"></mat-icon></a>
          </div>

        </div>

      </div>
      <div class="app-user">
        <span class="app-user-name">
          <mat-icon class="icon-xs text-muted">lock</mat-icon>
          root
        </span>
        <div class="hostname-label" *ngIf="hostname" matTooltip="Hostname: {{hostname}}">{{hostname}}</div>
      </div>
      <navigation (onStateChange)="changeState($event)"></navigation>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlex="calc(100% - {{sidenavWidth}})" class="fn-maincontent" [style.margin-left]="sidenavWidth">
    <!-- Top Bar -->
    <!-- Template reference variables of Left sidebar and Right notification is supplied -->
    <!-- Listens language change event -->
    <topbar [sidenav]="sidenav" [notificPanel]="notificationPanel" (onLangChange)="language.setMiddlewareLanguage($event)"></topbar>
    <!-- App content -->
    <app-breadcrumb [product_type]="product_type"></app-breadcrumb>
    <div class="rightside-content-hold" [ngClass]="{'has-footer':isShowFooterConsole}">
      <router-outlet></router-outlet>
    </div>
    <div class="footer-console-bar" *ngIf="isShowFooterConsole" ix-auto ix-auto-type="shell" ix-auto-identifier="footer-console">
      <pre #footerBarScroll class="message" (click)="onShowConsolePanel()">{{consoleMsg}}</pre>
    </div>
  </mat-sidenav-content>
  <!-- Notificaation bar -->
  <mat-sidenav #notificationPanel mode="over" class="" align="end" (open)="onOpenNotify($event)" (close)="onCloseNotify($event)" class="notification-sidenav" position="end">
    <div class="navigation-hold" fxLayout="column">
      <app-notifications [notificPanel]="notificationPanel"></app-notifications>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
